<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3ibP28NaLCg5SYTRpSKbey9T492ucSn4</string>
	<key>GCM_SENDER_ID</key>
	<string>632864778726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deaftvLgdxschoolProjects</string>
	<key>PROJECT_ID</key>
	<string>lg-tv-remotec</string>
	<key>STORAGE_BUCKET</key>
	<string>lg-tv-remotec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632864778726:ios:2abf2f08a8935b287ece27</string>
</dict>
</plist>